



<div class="container-fluid p-0  " >

  <nav class="navbar navbar-expand-lg border-bottom d-flex d-md-none" id="navbar-example2">
    <div class="container-xxl align-items-center ">
      <a class="navbar-brand pt-1" [routerLink]="'/home'">
        <img src="assets/images/logo/5cd86c5269c85bcc6dfd9d97f1e772ee.png" alt="" class="img-fluid" width="169px">
      </a>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="19" viewBox="0 0 24 19" fill="none">
            <rect width="24" height="3" rx="1.5" fill="#423838"/>
            <rect y="8" width="24" height="3" rx="1.5" fill="#423838"/>
            <rect x="10" y="16" width="13.8947" height="3" rx="1.5" fill="#423838"/>
          </svg>
        </button>

        <img nz-image *ngIf="isAuth" width="40px" height="40px" [nzSrc]="avatarUrl" [nzDisablePreview]="true" class="d-md-none rounded-circle ml-1 border border-3"/>

      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link"  href="javascript: void(0)" (click)="goTo('inicio-section')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0)" (click)="goTo('productos-section')">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript: void(0)" (click)="goTo('planes-section')">Planes y rangos</a>
          </li>
          <li class="nav-item d-block d-md-none" >
            <a class="nav-link" href="javascript: void(0)" (click)="goTo('contact-section')">Contacto</a>
          </li>
          <li class="nav-item d-block d-md-none" >
            <a class="nav-link" [routerLink]="'/auth/login'" [routerLinkActive]="'active'">Inicio Sesión</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

    <div class="row align-items-center justify-content-center m-0 p-0 container-mobile bg--auth-shape" style="height: 100vh; background-image: url('assets/images/Shape.png');" >
        <!-- <div class="col-lg-5 d-none d-lg-flex bg-gris p-4" style="height: 100vh;">
          <app-carousel-images [fullWidth]="true"></app-carousel-images>
        </div> -->
        <div class="col-md-4 " >
          <nz-card class="card--auth">
            <div class="row no-gutters  align-items-center" >

              <div class="col-md-11 col-xl-11 col-12 mx-auto p-t-30">
                <!-- <img src="assets/images/logo/5cd86c5269c85bcc6dfd9d97f1e772ee.png" alt="" class="img-fluid mb-4" width="367px"> -->
                <h1 class="ff-poppins fs-22 fw-bolder container-form-mobile text-center" style="color: #202224;">Recupera tu contraseña</h1>
                <p class="m-b-20 fs-15 container-form-mobile text-center" style="color: #202224;">Ingresa tu correo registrado</p>
                <form
                  nz-form
                  [formGroup]="frmRecoverPassword"
                  nzLayout="vertical"
                  class="login-form container-form-mobile"
                >
                  <nz-row class="m-b-20">
                    <nz-col [nzSm]="24" [nzXs]="24">
                      <nz-form-item>
                        <nz-form-label nzFor="password"
                          class="label--right">
                          <span style="color: #202224;">Correo Electrónico:</span>

                        </nz-form-label
                        >
                        <nz-form-control >
                          <input
                            type="text"
                            nz-input
                            formControlName="email"
                          />

                        </nz-form-control>
                      </nz-form-item>
                    </nz-col>
                  </nz-row>

                  <nz-row class="mb-5">
                    <nz-col [nzSm]="24" [nzXs]="24">
                      <nz-form-control>
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <button
                            nz-button
                            class="login-form-button w-100 border-0"
                            [nzType]="'primary'"
                            (click)="onSubmit()"
                            [nzLoading]="loadingSubmit"
                          >
                            Confirmar
                          </button>
                        </div>
                      </nz-form-control>
                    </nz-col>
                  </nz-row>
                  <div class="text-center">
                    <span class="font-size-15"
                      >Recordaste tu contraseña?
                      <a
                      [routerLink]="'/auth/login'"
                      >
                      Login</a
                      ></span
                    >
                  </div>

                  <div class="mb-2 mt-5" *ngIf="showError">
                    <div class="d-flex w-100 align-items-center p-2" style="background: rgba(113, 113, 113, 1);border-radius: 5px;">
                      <p class="mb-0 text-white" ><i nz-icon nzType="close" style="font-size: 18px;" nzTheme="outline"></i>&nbsp;&nbsp;{{ textError }}</p>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </nz-card>
        </div>
      </div>
</div>

