<div class="header">
    <div class="logo logo-dark p-t-10" >
        <a href="">
          <img src="assets/images/logo/5cd86c5269c85bcc6dfd9d97f1e772ee.png" alt="" class="img-fluid" width="190px">

        </a>
    </div>

    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a (click)="toggleFold()" class="menu-toggle-button" [attr.aria-label]="isFolded ? 'Mostrar menú' : 'Ocultar menú'" [attr.title]="isFolded ? 'Mostrar menú' : 'Ocultar menú'">
                  <i nz-icon [nzType]="isFolded ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a (click)="toggleExpand()" class="menu-toggle-button" [attr.aria-label]="isExpand ? 'Cerrar menú' : 'Abrir menú'" [attr.title]="isExpand ? 'Cerrar menú' : 'Abrir menú'">
                  <i nz-icon [nzType]="isExpand ? 'menu-fold' : 'menu-unfold'" nzTheme="outline"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
