<nz-card  style="border: 0;">
  <nz-row class="m-b-20">
    <nz-col [nzXs]="24" class="m-b-20">
      <div class="d-flex align-items-center ">
        <a routerLink="/admin/tools" class="text-black-2" ><i nz-icon nzType="arrow-left" nzTheme="outline" class="font-size-26"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <h3 class="m-0 text-black-2">Usuarios Registrados en tu plataforma MLM</h3>
      </div>
    </nz-col>
    <nz-col [nzXs]="24" class="m-b-20">
      <div class="d-flex align-items-center card--shadow p-20">
        <h4 class="m-0 p-r-20 m-b-10">All ({{ totalRecord }})</h4>
        <nz-input-group [nzPrefix]="suffixTemplateInfo" style="max-width: 300px; background-color: #F8F9FA; border-radius: 20px; border: 0; margin-right: 10px; margin-bottom: 10px;" >
          <input type="text" [(ngModel)]="codeUser" nz-input placeholder="Buscar usuario por ID" style="background-color: #F8F9FA;" appDelayedInput (delayedInput)="onSearch()"/>
        </nz-input-group>
        <ng-template #suffixTemplateInfo><i nz-icon nzType="search"></i></ng-template>

        <nz-input-group [nzPrefix]="suffixTemplateInfoName" style="max-width: 300px; background-color: #F8F9FA; border-radius: 20px; border: 0; margin-right: 10px; margin-bottom: 10px;" >
          <input type="text" [(ngModel)]="nameUser" nz-input placeholder="Buscar usuario por Nombre" style="background-color: #F8F9FA;" appDelayedInput (delayedInput)="onSearch()"/>
        </nz-input-group>
        <ng-template #suffixTemplateInfoName><i nz-icon nzType="search"></i></ng-template>

        <nz-select [(ngModel)]="planSelected" nzPlaceHolder="Todos" class="select--filter m-b-10" style="min-width: 180px;" (ngModelChange)="onChangePlan($event)" [nzAllowClear]="true">
          <nz-option nzValue="-1" nzLabel="Sin Plan"></nz-option>
          <nz-option [nzValue]="item.id" [nzLabel]="item.title" *ngFor="let item of planList"></nz-option>
        </nz-select>

        <button nz-button nzType="primary" (click)="onAddUser()" style="margin-bottom: 10px; margin-left: 10px;">Agregar Usuario</button>
      </div>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col [nzXs]="24" class="m-b-20">
      <nz-table
        nzSize="small"
        [nzFrontPagination]="false"
        [nzLoading]="tableProductLoading"
        [nzData]="tableProducts"
        [nzTotal]="totalRecord"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzScroll]="{ x: '1240px' }"
      >
        <thead>
          <tr>
            <th [nzAlign]="'center'">Image</th>
            <th [nzAlign]="'center'">Nombre y Apellidos</th>
            <th [nzAlign]="'center'">Código ID</th>
            <th [nzAlign]="'center'">Plan Actual</th>
            <th [nzAlign]="'center'">Estado</th>
            <th [nzAlign]="'center'">Rango</th>
            <th [nzAlign]="'center'">Puntos Patrocinio</th>
            <th [nzAlign]="'center'">Puntos Residuales</th>
            <th [nzAlign]="'center'">Puntos por plan Actual</th>
            <th [nzAlign]="'center'">Puntos Grupales</th>
            <th [nzAlign]="'center'">Bono Infinito</th>
            <th [nzAlign]="'center'">Puntos Gran total</th>
            <th [nzAlign]="'center'" nzRight>Ver</th>
            <th [nzAlign]="'center'" nzRight>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableProducts">
            <td nzAlign="center">
              <img [src]="item.file != null ? environment.hostUrl + '/storage/' + item.file.path  :CONSTANTS.IMAGE.FALLBACK" alt="" class="rounded-circle" style="width: 50px;">
            </td>
            <td nzAlign="center">{{ item.name }}</td>
            <td nzAlign="center">
              <span class="text-uppercase">{{ item.uuid }}</span>
            </td>
            <td nzAlign="center">
              {{ item?.payment?.payment_order?.pack?.title ?? "Sin Plan" }}
            </td>
            <td nzAlign="center">
              {{ item?.payment?.state == null ? "--" : ( item?.payment?.state == CONSTANTS.PAYMENT_ORDER.PAGADO ? "Activo" : "Inactivo") }}
            </td>
            <td nzAlign="center">
              <b>{{ item?.range == null ? 'Sin Rango' : item?.range.range.title }}</b>
            </td>
            <td nzAlign="center">{{ (item?.points?.patrocinio ?? 0) | number: '1.1' }}</td>
            <td nzAlign="center">{{ ((item?.points?.residual ?? 0) + (item?.points?.pointAfiliado ?? 0) + (item?.points?.personalGlobal ?? 0)) | number: '1.1' }}</td>
            <td nzAlign="center">{{ ((item?.points?.compra ?? 0) + (item?.points?.personal ?? 0)) | number: '1.1'}}</td>
            <td nzAlign="center">{{ (item?.points?.pointGroup ?? 0)  | number: '1.1' }}</td>
            <td nzAlign="center">{{ (item?.points?.infinito ?? 0)  | number: '1.1'}}</td>
            <td nzAlign="center">{{ (item?.totalPoints ?? 0)  | number: '1.1'}}</td>
            <td nzAlign="center" nzRight>
              <nz-tag [nzColor]="'#87d068'" class="pointer m-0" (click)="onSeletedUSer(item.uuid, item)">VER</nz-tag>
            </td>
            <td nzAlign="center" nzRight>
              <button nz-button (click)="onDetailUser( item , tplContent)" [nzSize]="'small'" nzShape="circle">
                <i nz-icon nzType="ellipsis"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
</nz-card>

<ng-template #tplContent let-params>
  <div class="text-center m-b-30">
    <h2 class="font-size-40" style="font-weight: 700; line-height: 1.2;">{{ tabTitle }}</h2>
  </div>
  <ng-container *ngIf="tabModal == 0">
    <nz-row class="">
      <nz-col [nzXs]="24" class="m-b-10">
        <button nz-button nzType="primary" class="m-b-20" (click)="modalUserOptions(1)">Modificar Datos de usuario</button>
        <button nz-button nzType="primary" class="m-b-20 ant-btn-warning" (click)="modalUserOptions(2)">Modificar Patrocinador de usuario</button>
        <button nz-button nzType="primary" nzDanger class="m-b-20" (click)="modalUserOptions(3)">Eliminar a usuario registrado</button>
        <ng-container *ngIf="userModel.payment?.state == CONSTANTS.PAYMENT_ORDER.TERMINADO">
          <button nz-button nzType="primary" class="m-b-20 ant-btn-success" (click)="modalUserOptions(4)">Activar Usuarios con Plan : Genera residual</button>
        </ng-container>
        <ng-container *ngIf="userModel.payment?.state == CONSTANTS.PAYMENT_ORDER.PREORDER">
          <button nz-button nzType="primary" class="m-b-20 ant-btn-info" (click)="onPaymentOfflineConfirm(userModel.uuid)">Activar Usuario: Pago Efectivo</button>
        </ng-container>
        
      </nz-col>
    </nz-row>
  </ng-container>

  <ng-container *ngIf="tabModal == 1">
    <app-tools-users-update-modal [userModel]="userModel" (back)="onBack($event)" (updated)="onSearch()"></app-tools-users-update-modal>
  </ng-container>

  <ng-container *ngIf="tabModal == 2">
    <app-tools-users-sponsor-modal [userModel]="userModel" (back)="onBack($event)"></app-tools-users-sponsor-modal>
  </ng-container>

  <ng-container *ngIf="tabModal == 3">
    <app-tools-users-reset-modal [userModel]="userModel" (back)="onBack($event)"></app-tools-users-reset-modal>
  </ng-container>

  <ng-container *ngIf="tabModal == 4">
    <app-tools-users-reactive-modal [userModel]="userModel" (back)="onBack($event)"></app-tools-users-reactive-modal>
  </ng-container>

  <nz-row class="">
    <nz-col [nzXs]="12" class="m-b-20">
      <button nz-button nzDanger [nzType]="'primary'" (click)="onClose()" ><i nz-icon nzType="close" nzTheme="outline"></i> Cancelar</button>
    </nz-col>
  </nz-row>
</ng-template>


