<div class="sponsor-editor">
<nz-row class="sponsor-content">
  <nz-col [nzXs]="24">
    <section class="user-summary">
      <img [src]="avatarUrl" [alt]="userModel.name">
      <div><small>Usuario seleccionado</small><strong>{{ userModel.name }}</strong><span>ID: <b class="text-uppercase">{{ userModel.uuid }}</b> · {{ userModel.created_at | date: 'dd/MM/yyyy' }}</span></div>
    </section>
  </nz-col>
  <nz-col [nzXs]="24" >
    <form
      nz-form
      [nzLayout]="'vertical'"
      [formGroup]="validateForm"
      class="sponsor-form"
    >
      <nz-form-item class="m-b-30">
        <nz-form-label [nzSpan]="24"><i nz-icon nzType="user" nzTheme="outline"></i>Patrocinador actual</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="">
          <nz-input-group [nzSuffix]="suffixIconFile">
            <input nz-input formControlName="sponsor" placeholder="" class="text-uppercase" />
          </nz-input-group>
          <ng-template #suffixIconFile>
            <img [src]="avatarUrlSponsor" alt="" class="rounded-circle img-fluid" style="max-width: 30px; height: 30px;">
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="24"><i nz-icon nzType="idcard" nzTheme="outline"></i>ID del nuevo patrocinador</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Este campo es requerido">
          <nz-input-group [nzSuffix]="suffixIconFileNew">
            <input nz-input formControlName="sponsorNew" placeholder="" class="text-uppercase" appDelayedInput (delayedInput)="onSearchSponsor()"/>
          </nz-input-group>
          <ng-template #suffixIconFileNew>
            <i nz-icon nzType="loading" nzTheme="outline" *ngIf="loadingSearch"></i>
            <img [src]="avatarUrlNewSponsor" alt="" *ngIf="isSponsorNew" class="rounded-circle img-fluid" style="max-width: 30px; height: 30px;">
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24"><i nz-icon nzType="mail" nzTheme="outline"></i>Correo del nuevo patrocinador</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Este campo es requerido">
          <input nz-input formControlName="sponsorEmailNew" placeholder="" class="text-uppercase" />
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-col>

</nz-row>

<div class="sponsor-actions">
  <button nz-button class="back-button" (click)="onBack()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i>Retroceder</button>
  <button nz-button nzType="primary" class="save-button" (click)="onSave()" [nzLoading]="loadingSave"><i nz-icon nzType="save" nzTheme="outline"></i>Modificar patrocinador</button>
</div>
</div>
