<nz-row class="m-b-20">
    <nz-col [nzSm]="24" [nzXs]="24">
        <div class="text-center m-b-20">
            <p style="color: #4379EE;" class="fs-16 fw-600">{{ userModel?.name }}</p>
            <label for="fileupload" class="position-relative m-b-20">
            <img [src]="avatarUrl" alt="" class="rounded-circle img-fluid" style="max-width: 120px; height: 120px;">
            <input type="file" name="fileupload" id="fileupload" class="d-none" accept=".png,.jpg,.jpeg"/>
            </label>
            <div class="p-l-20">
            <!-- <h3>{{ userModel?.name }}</h3> -->
            <p class="m-0 fs-16 notranslate">ID: <span class="text-uppercase">{{ userModel?.uuid }}</span> / Fecha: {{ userModel?.creatxlssed | date: 'dd/MM/YYYY' }} &nbsp;&nbsp;&nbsp;<a href="javascrip: void(0);" (click)="copyMessage(userModel?.uuid)"><i nz-icon nzType="copy" nzTheme="outline"></i></a></p>
            </div>
        </div>
    </nz-col>
    <nz-col [nzSm]="24" [nzXs]="24">
        <div class="text-center m-b-20">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="input search text" [(ngModel)]="linkInited" [disabled]="true"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="copyMessage(linkInited)"><i nz-icon nzType="copy" nzTheme="outline"></i></button>
            </ng-template>
        </div>
    </nz-col>
    <nz-col [nzSm]="24" [nzXs]="24">
        <div><p>Selecionar los usuarios que te gustaria invitar</p></div>
    </nz-col>
    <nz-col [nzSm]="24" [nzXs]="24">
        <div class="m-b-20">
            <nz-select [(ngModel)]="multipleUsers" nzMode="multiple" nzPlaceHolder="Seleccionar Usuarios" style="width: 100%;">
                <ng-container *ngFor="let option of listUsers">
                    <nz-option  [nzLabel]="option.name + ' - ' +option.uuid" [nzValue]="option.uuid"></nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div class="m-b-20">
            <button nz-button nzType="primary" (click)="onSendEmail()" [nzLoading]="loading"><i nz-icon nzType="mail" nzTheme="outline"></i> Enviar correos de invitación</button>
        </div>
    </nz-col>
</nz-row>