<nz-row class="m-b-40">
  <nz-col [nzXs]="24" class="m-b-10 text-center">
    <p class="font-size-18" style="color: #4379EE;">{{ this.userModel.name }}</p>
  </nz-col>
  <nz-col [nzXs]="24" class="text-center">
    <label for="fileupload" class="position-relative m-b-20">
      <img [src]="avatarUrl" alt="" class="rounded-circle img-fluid" style="max-width: 80px; height: 80px;">
    </label>
  </nz-col>
  <nz-col [nzXs]="24" class="m-b-10 text-center">
    <p class="font-size-18">ID: <span class="text-uppercase">{{ this.userModel.uuid }}</span> / Fecha: {{ this.userModel.created_at | date: 'dd/MM/yyyy' }}</p>
  </nz-col>
  <nz-col [nzXs]="24" class="text-center m-b-30">
    <p class=" font-size-15" style="color: #606060;">Para Reactivar a este usuario y generar Puntos residual, es necesario que indiques los productos que comprará por valor x≥200 Puntos. La reactivación se hará simulando una compra.</p>
  </nz-col>
  <nz-col [nzXs]="24" class=" m-b-10">
    <nz-collapse [nzExpandIconPosition]="'right'"	class="out--content">
      <nz-collapse-panel
        [nzHeader]="'Click aquí para ver listado de productos y seleccionar'"
      >
        <nz-list nzBordered nzSize="small">
          <nz-list-item *ngFor="let product of productsList; let i = index">
            <nz-col [nzXs]="18" class="">
              <p class="m-0"><b>{{ product.title }}</b> - <span style="color: #A6A6A6;"><b>{{ product.points }} Ptos</b></span></p>
            </nz-col>
            <nz-col [nzXs]="6" class="text-center">
              <div class="text-black d-flex align-items-center p-10" style="background-color: #F0F0F0; border-radius: 20px;">
                <i nz-icon nzType="minus" nzTheme="outline" (click)="onAddQuantity( i , -1 )" class="p-r-10 p-l-10 pointer"></i>
                <span class="notranslate">{{ product?.quantity ?? 0 }}</span>
                <i nz-icon nzType="plus" nzTheme="outline" (click)="onAddQuantity( i , 1 )" class="p-r-10 p-l-10 pointer"></i>
              </div>
            </nz-col>
          </nz-list-item>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-col>
  <nz-col [nzXs]="24" class="m-b-20">
    <p>DETALLE DE COMPRA</p>
    <ng-container *ngIf="_cartList.length > 0">
      <ng-container *ngFor="let product of _cartList; let i = index">
        <div class="d-flex justify-content-between" *ngIf="product.quantity > 0">
          <div>
            <p class="m-0">{{ product.title }} ({{ product.quantity }})</p>
          </div>
          <div class="text-right">
            <p class="m-0"><b>S/.{{ (amountDiscount == 0 ? (product.quantity * product.price) : ( (product.quantity * product.price) * (100 - amountDiscount) / 100)) | number: '1.0-2' }}</b></p>
          </div>
        </div>
      </ng-container>
      <div class="text-right mb-2">
        <p><b>S/. {{ totalBuy | number: '1.0-2' }}</b></p>
      </div>
      <div>
        <div class="d-flex justify-content-between">
        <div>
          <p class="m-0" style="color: #505050;">Puntos ganados por compras :</p>
        </div>
        <div class="text-right">
          <p class="m-0" style="color: #505050;">{{ totalPoints }}</p>
        </div>
      </div>
      </div>
    </ng-container>
  </nz-col>
  <nz-col [nzXs]="24" class="m-b-20">
    <button (click)="modalDesactive()" nz-button nzType="primary" class="ant-btn-success" [nzLoading]="loadingDesactive">Reactivar, simulando compra en tienda</button>
  </nz-col>
</nz-row>
